@import url("https://fonts.googleapis.com/css?family=Lora");
.layout-1:after, .clearfix:after, header nav ul:after, .disp-pc .site-list:after, .section_b_left:after, .sns-links:after {
  clear: both;
  content: "";
  display: block; }

main {
  margin-top: 56px; }

.layout-1 {
  min-width: 1280px;
  margin: auto; }
  .layout-1-sidebar {
    float: left;
    width: 27%;
    margin-left: 3%;
    padding: 8px 16px; }
  .layout-1-main {
    float: right;
    width: 60%;
    margin-right: 10%;
    padding: 8px 16px; }

.disp-pc {
  display: block; }

.disp-sp {
  display: none; }

.link-reset {
  text-decoration: none;
  color: inherit; }

.flt-r {
  float: right; }

.flt-l {
  float: left; }

@media screen and (max-width: 680px) {
  .disp-pc {
    display: none; }

  .disp-sp {
    display: block; } }
header {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  min-width: 980px;
  height: 56px;
  padding: 8px 16px;
  font-size: 1.6em;
  border-bottom: solid 1px gray; }
  header .title {
    cursor: pointer;
    float: left;
    width: 100px;
    line-height: calc(56px - calc(8px * 2)); }
  header nav {
    float: left;
    width: calc(100% - 100px); }
    header nav ul {
      display: block;
      margin-left: auto;
      max-width: 780px;
      padding: 0 16px; }
      header nav ul li {
        text-decoration: none;
        cursor: pointer;
        padding: 0 8px;
        float: right;
        line-height: calc(56px - calc(8px * 2)); }

@media screen and (max-width: 680px) {
  header {
    font-size: 2em;
    min-width: 480px;
    width: 480px; }
    header .header-menu {
      float: right;
      display: block; }
      header .header-menu img {
        height: 40px;
        width: 40px; }
    header .close {
      float: right;
      cursor: pointer; }
    header nav {
      display: none;
      width: 480px;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      padding: 8px 16px;
      height: 100%; }
      header nav ul li {
        width: 100%; } }
footer {
  width: 100%;
  min-width: 980px;
  height: 56px;
  padding: 15px;
  font-size: 1.6em;
  border-top: solid 1px gray;
  margin-top: 50px; }
  footer .title {
    cursor: pointer;
    float: left;
    width: 100px;
    line-height: calc(56px - calc(8px * 2)); }

@media screen and (max-width: 680px) {
  footer {
    min-width: 480px;
    height: 56px;
    padding: 15px;
    font-size: 1.6em;
    border-top: solid 1px gray;
    margin-top: 50px; }
    footer .title {
      cursor: pointer;
      float: left;
      width: 100px;
      line-height: calc(56px - calc(8px * 2)); } }
.layout-1-sidebar {
  position: relative;
  margin-top: 10px; }
  .layout-1-sidebar:after {
    content: "";
    position: absolute;
    bottom: 2px;
    background-color: black;
    height: 100%;
    left: 35px;
    width: 1px;
    top: 0; }
  .layout-1-sidebar:before {
    content: "";
    position: absolute;
    top: 0;
    background-color: black;
    height: 5px;
    left: 33px;
    width: 5px;
    border-radius: 100%; }

.sidebar-title {
  font-size: 2em;
  position: relative;
  padding: 5px 0 5px 35px; }
  .sidebar-title:after {
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: black;
    height: 1px;
    left: 0;
    width: 280px; }
  .sidebar-title:before {
    content: "";
    position: absolute;
    bottom: -2px;
    background-color: black;
    height: 5px;
    left: 278px;
    width: 5px;
    border-radius: 100%; }

.sidebar {
  margin-top: 20px;
  padding-left: 35px; }
  .sidebar li {
    font-size: 1.6em;
    line-height: 1.6em;
    padding: 5px 0 5px 5px; }
  .sidebar .active {
    position: relative; }
    .sidebar .active:after {
      content: "";
      position: absolute;
      bottom: 2px;
      background-color: black;
      height: 1px;
      left: 0;
      width: 50%; }
    .sidebar .active:before {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: black;
      height: 5px;
      right: 50%;
      width: 5px;
      border-radius: 100%; }

main {
  margin: auto;
  margin-top: 106px;
  width: 1280px; }

.about_title {
  font-size: 3em; }

.about_text {
  margin-top: 50px;
  font-size: 1.6em;
  line-height: 1.6em; }
  .about_text img {
    width: 40%; }
  .about_text_box {
    width: 50%;
    margin-bottom: 50px; }

.disp-pc .site-list {
  width: 100%; }
  .disp-pc .site-list li {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 50px; }
    .disp-pc .site-list li:nth-child(3n) {
      margin-right: 0; }
    .disp-pc .site-list li img {
      width: 100%; }
    .disp-pc .site-list li .title {
      font-size: 2em;
      line-height: 1.6em; }
    .disp-pc .site-list li .genre {
      font-size: 2em;
      line-height: 1.6em; }
    .disp-pc .site-list li hr {
      width: 100%;
      margin: 0; }

body {
  font-family: 'Lora', serif;
  font-size: 10px;
  min-width: 980px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

iframe {
  margin: 50px auto;
  display: block; }

.section_a_left {
  height: 593px;
  position: relative;
  width: 1280px;
  margin: auto; }
  .section_a_left .content_img {
    float: right;
    height: 593px; }
  .section_a_left .content {
    position: absolute;
    left: 0;
    top: 25%;
    width: 50%; }
    .section_a_left .content .title {
      font-size: 4em;
      margin-bottom: 30px; }
    .section_a_left .content .text {
      font-size: 1.6em;
      line-height: 1.6em; }
    .section_a_left .content .button {
      padding: 8px 16px;
      border: solid 1px black;
      width: 200px;
      height: 40px;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
      margin: 20px 0; }
    .section_a_left .content .button-black {
      background-color: black;
      color: white; }
  .section_a_left .appeal {
    position: absolute;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    font-size: 2em;
    color: white;
    top: 40%;
    line-height: 1.6em; }
    .section_a_left .appeal span {
      text-align: right; }

.section_b_left {
  height: auto;
  position: relative;
  width: 1280px;
  margin: auto; }
  .section_b_left .content {
    float: left;
    width: 50%; }
    .section_b_left .content .title {
      font-size: 4em;
      margin-bottom: 30px; }
    .section_b_left .content .text {
      font-size: 1.6em;
      line-height: 1.6em; }
    .section_b_left .content .button {
      padding: 8px 16px;
      border: solid 1px black;
      width: 200px;
      height: 40px;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
      margin: 20px 0; }
    .section_b_left .content .button-black {
      background-color: black;
      color: white; }

table {
  float: left;
  font-size: 2em;
  text-align: center; }
  table td, table th {
    padding: 8px 40px;
    border: solid 1px black; }

.section_title_a {
  margin: 75px auto 0;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  width: 250px; }

.section_title_a_horizon {
  width: 40px;
  margin: 0 auto 50px;
  border: none;
  background-color: gray; }

.section_a_right {
  height: 593px;
  position: relative;
  width: 1280px;
  margin: auto; }
  .section_a_right .content_img {
    float: left;
    height: 593px; }
  .section_a_right .content {
    position: absolute;
    right: 0;
    top: 25%;
    width: 50%; }
    .section_a_right .content .title {
      font-size: 4em;
      margin-bottom: 30px;
      text-align: right; }
    .section_a_right .content .text {
      font-size: 1.6em;
      line-height: 1.6em;
      text-align: right; }
    .section_a_right .content .button {
      padding: 8px 16px;
      border: solid 1px black;
      width: 200px;
      height: 40px;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
      margin: 20px 0 0 auto; }

.button {
  padding: 8px 16px;
  border: solid 1px black;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer; }

.button-black {
  padding: 8px 16px;
  border: solid 1px black;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  background-color: black;
  color: white; }

.sns-links {
  margin: auto;
  width: 165px; }
  .sns-links li {
    float: left;
    list-style: none;
    margin: 0 10px; }
    .sns-links li img {
      display: block;
      width: 35px;
      height: 35px;
      cursor: pointer; }

.copyright {
  margin: 15px;
  text-align: center; }

@media screen and (max-width: 680px) {
  body {
    width: 480px;
    min-width: 480px; }

  main {
    width: 480px;
    min-width: 480px;
    margin-top: 0; }

  .content_img_sp {
    width: 100%; }

  .content_sp {
    padding: 8px 16px;
    font-size: 1.6em;
    line-height: 1.6em; }

  h2 {
    font-size: 2em;
    text-align: center;
    padding: 15px; }

  .section_title_a_horizon_sp {
    width: 30px;
    border: none;
    background-color: gray;
    margin: auto;
    margin-bottom: 15px; }

  .button {
    margin: 15px auto; }

  .about_title {
    font-size: 2em; }

  .about_text {
    margin-top: 50px;
    font-size: 1.6em;
    line-height: 1.6em;
    width: 100%;
    padding: 8px 16px; }
    .about_text img {
      width: 100%; }
    .about_text_box {
      width: 100%;
      margin-bottom: 50px; }

  table {
    margin: 8px 16px;
    float: none;
    font-size: 1.6em;
    text-align: center; }
    table td, table th {
      padding: 8px 40px;
      border: solid 1px black; }

  .select {
    margin-top: 65px; }
    .select .title {
      font-size: 2em;
      width: 100%;
      padding: 8px 16px; }
    .select select {
      font-size: 3em;
      width: 100%;
      padding: 8px 16px;
      display: block;
      margin: auto; }
    .select hr {
      display: block;
      margin: 0 16px; }

  .site-list {
    width: 100%;
    margin-top: 30px;
    padding: 8px 16px; }
    .site-list li {
      float: left;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 50px; }
      .site-list li:nth-child(2n) {
        margin-right: 0; }
      .site-list li img {
        width: 100%; }
      .site-list li .title {
        font-size: 2em;
        line-height: 1.6em;
        padding: 0; }
      .site-list li .genre {
        font-size: 2em;
        line-height: 1.6em;
        padding: 0; }
      .site-list li hr {
        width: 100%;
        margin: 0; } }

/*# sourceMappingURL=main.css.map */
