header {
    @include site-width;
    @include default-pad;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    height: $header-height;
    font-size: 1.6em;
    border-bottom: solid 1px gray;

    .title {
        cursor: pointer;
        float: left;
        width: $title-width;
        line-height: calc(#{$header-height} - calc(#{$default-vertical-pad} * 2));
    }

    nav {
        float: left;
        width: calc(100% - #{$title-width});

        ul {
            @include clearfix;
            display: block;
            margin-left: auto;
            padding: 0 $default-horizon-pad;

            li {
                text-decoration: none;
                cursor: pointer;
                padding: 0 8px;
                float: right;
                line-height: calc(#{$header-height} - calc(#{$default-vertical-pad} * 2));
            }
        }
    }
}

.header-dummy {
    @include site-width;
    width: 100%;
    height: $header-height;
}

@media screen and (max-width:680px) {
    header {
        font-size: 2em;

        .header-menu {
            float: right;
            display: block;

            img {
                height: 40px;
                width: 40px;
            }
        }

        .close {
            float: right;
            cursor: pointer;
        }

        nav {
            display: none;
            background-color: white;
            position: fixed;
            top: 0;
            left: 0;
            padding: $default-vertical-pad $default-horizon-pad;
            height: 100%;
            width: 100%;

            ul {
                li {
                    width: 100%;
                }
            }
        }
    }
}
