%clearfix:after {
    clear: both;
    content: "";
    display: block;
}

main {
    margin-top: 56px;
}

.layout-1 {
    @extend %clearfix;
    min-width: 1280px;
    margin: auto;

    &-sidebar {
        float: left;
        width: 27%;
        margin-left: 3%;
        padding: $default-vertical-pad $default-horizon-pad;
    }

    &-main {
        float: right;
        width: 60%;
        margin-right: 10%;
        padding: $default-vertical-pad $default-horizon-pad;
    }
}
