.disp-pc {
    display: block;
}

.disp-sp {
    display: none;
}

.clearfix {
    @extend %clearfix;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

.flt-r {
    float: right;
}

.flt-l {
    float: left;
}

@media screen and (max-width:680px) {
    .disp-pc {
        display: none;
    }

    .disp-sp {
        display: block;
    }
}
