@import url('https://fonts.googleapis.com/css?family=Lora');
@import "variable";
@import "layout";
@import "super";
@import "block";
@import "header";
@import "footer";
@import "sidebar";

.about_text {
    margin-top: 50px;

    img {
        width: 40%;
    }

    &_box {
        width: 50%;
        margin-bottom: 50px;
    }
}

.disp-pc {
    .site-list {
        @include clearfix;
        width: 100%;

        li {
            float: left;
            width: 32%;
            margin-right: 2%;
            margin-bottom: 50px;

            &:nth-child(3n) {
                margin-right: 0;
            }

            img {
                width: 100%;
            }

            .title {
                font-size: 2em;
                line-height: 1.6em;
            }

            .genre {
                font-size: 2em;
                line-height: 1.6em;
            }

            hr {
                width: 100%;
                margin: 0;
            }
        }
    }
}

iframe {
    margin: 50px auto;
    display: block;
}

.section_a_left {
    height: 593px;
    position: relative;
    width: 1280px;
    margin: auto;

    .content_img {
        float: right;
        height: 593px;
    }

    .content {
        position: absolute;
        left: 0;
        top: 25%;
        width: 50%;

        .title {
            font-size: 4em;
            margin-bottom: 30px;
        }

        .text {
            font-size: 1.6em;
            line-height: 1.6em;
        }

        .button {
            @include button;
            margin: 20px 0;
        }

        .button--black {
            background-color: black;
            color: white;
        }
    }

    .appeal {
        position: absolute;
        right: 10%;
        background-color: rgba(0,0,0,0.5);
        padding: 30px;
        color: white;
        top: 40%;
        line-height: 1.6em;

        span {
            text-align: right;
        }
    }
}

.section_b_left {
    @include clearfix;
    height: auto;
    position: relative;
    width: 1280px;
    margin: auto;

    .content {
        float: left;
        width: 50%;

        .title {
            font-size: 4em;
            margin-bottom: 30px;
        }

        .text {
            font-size: 1.6em;
            line-height: 1.6em;
        }

        .button {
            @include button;
            margin: 20px 0;
        }

        .button--black {
            background-color: black;
            color: white;
        }
    }
}

.section_title_a {
    margin: 75px auto 0;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    width: 250px;
}

.section_title_a_horizon {
    width: 40px;
    margin: 0 auto 50px;
    border: none;
    background-color: gray;
}

.section_a_right {
    height: 593px;
    position: relative;
    width: 1280px;
    margin: auto;

    .content_img {
        float: left;
        height: 593px;
    }

    .content {
        position: absolute;
        right: 0;
        top: 25%;
        width: 50%;

        .title {
            font-size: 4em;
            margin-bottom: 30px;
            text-align: right;
        }

        .text {
            font-size: 1.6em;
            line-height: 1.6em;
            text-align: right;
        }

        .button {
            @include button;
            margin: 20px 0 0 auto;
        }
    }
}

.button {
    @include button;
}

.button--black {
    @include button;
    background-color: black;
    color: white;
}

.sns-links {
    margin: auto;
    @include clearfix;
    width: 165px;

    li {
        float: left;
        list-style: none;
        margin: 0 10px;

        img {
            display: block;
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
    }
}

.copyright {
    margin: 15px;
    text-align: center;
}


@media screen and (max-width:680px) {

    .content_img_sp {
        width: 100%;
    }

    .content_sp {
        font-size: 1.6em;
        line-height: 1.6em;
    }

    h2 {
        font-size: 2em;
        text-align: center;
        padding: 15px;
    }

    .section_title_a_horizon_sp {
        width: 30px;
        border: none;
        background-color: gray;
        margin: auto;
        margin-bottom: 15px;
    }

    .button {
        margin: 15px auto;
    }

    .about_title {
        font-size: 2em;
    }

    .about_text {
        margin-top: 50px;
        font-size: 1.6em;
        line-height: 1.6em;
        width: 100%;

        img {
            width: 100%;
            margin: 8px 0;
        }

        &_box {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    .select {
        .title {
            font-size: 2em;
            width: 100%;
            margin-bottom: 10px;
        }

        select {
            font-size: 3em;
            width: 100%;
            display: block;
            margin: auto;
        }

        hr {
            display: block;
            margin: 0 16px;
        }
    }

    .site-list {
        width: 100%;
        margin-top: 30px;

        li {
            float: left;
            width: 49%;
            margin-right: 2%;
            margin-bottom: 50px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            img {
                width: 100%;
            }

            .title {
                font-size: 2em;
                line-height: 1.6em;
                padding: 0;
            }

            .genre {
                font-size: 2em;
                line-height: 1.6em;
                padding: 0;
            }

            hr {
                width: 100%;
                margin: 0;
            }
        }
    }
}
