<header class="clearfix">
    <div class="title"><a class="link-reset" href="./">AA.design.</a></div>
    <div class="disp-sp header-menu">
        <img src="./img/menu.png" alt="menu">
    </div>
    <div class="disp-pc">
        <nav>
            <div class="disp-sp close">
                <img src="./img/close.png" alt="">
            </div>
            <ul>
                <!-- <li><a class="link-reset" href="#">Contact</a></li> -->
                <li><a class="link-reset" href="./price.html">Price</a></li>
                <!-- <li><a class="link-reset" href="#section_logo">Work-logo design</a></li> -->
                <!-- <li><a class="link-reset" href="./web_design.html">Work-web design</a></li> -->
                <li><a class="link-reset" href="./about.html">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="disp-sp">
        <nav>
            <div class="disp-sp close">
                <img src="./img/close.png" alt="">
            </div>
            <ul>
                <li><a class="link-reset" href="./about.html">About</a></li>
                <!-- <li><a class="link-reset" href="./web_design.html">Work-web design</a></li> -->
                <!-- <li><a class="link-reset" href="#">Contact</a></li> -->
                <!-- <li><a class="link-reset" href="./price">Price</a></li> -->
                <!-- <li><a class="link-reset" href="#section_logo">Work-logo design</a></li> -->
            </ul>
        </nav>
    </div>
</header>