<header class="clearfix">
    <div class="title"><a class="link-reset" href="/">AA.design.</a></div>
    <div class="disp-sp header-menu">
        <img src="/img/menu.png" alt="menu">
    </div>
    <nav>
        <div class="disp-sp close">
            <img src="/img/close.png" alt="">
        </div>
        <ul>
            <li><a class="link-reset" href="#section_price">Contact</a></li>
            <li><a class="link-reset" href="#section_price">Price</a></li>
            <li><a class="link-reset" href="#section_logo">Work-logo design</a></li>
            <li><a class="link-reset" href="#section_logo">Work-web design</a></li>
            <li><a class="link-reset" href="#section_about">About</a></li>
        </ul>
    </nav>
</header>