<header class="clearfix">
    <div class="title"><a class="link-reset" href="/">AA.design.</a></div>
    <img class="disp-sp header-menu" src="/img/menu.png" alt="menu">
    <nav>
        <ul>
            <li><a class="link-reset" href="#section_price">Contact</a></li>
            <li><a class="link-reset" href="#section_price">Price</a></li>
            <li><a class="link-reset" href="#section_logo">Work-logo design</a></li>
            <li><a class="link-reset" href="#section_logo">Work-web design</a></li>
            <li><a class="link-reset" href="#section_about">About</a></li>
        </ul>
    </nav>
</header>